<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1>Your phones</h1>
    <h5> Drag and edit the priopity of phones (will call the first phone on the list and if unasnwered will call number 2 etc...) </h5>
    <br>
    <div class="col-md-10">
      <div class="col-md-1" style="margin:0;padding:0;">
        <ul id="sortable-numbers" class="list-group">
          <li class="list-group-item">1</li>
          <li class="list-group-item">2</li>
          <li class="list-group-item">3</li>
          <li class="list-group-item">4</li>
          <li class="list-group-item">5</li>
          <li class="list-group-item">6</li>
          <li class="list-group-item">7</li>
        </ul>
      </div>
      <div class="col-md-11" style="margin:0;padding:0;">
        <ul id="sortable" class="list-group">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
          <li class="list-group-item">Item 4</li>
          <li class="list-group-item">Item 5</li>
          <li class="list-group-item">Item 6</li>
          <li class="list-group-item">Item 7</li>
        </ul>
      </div>
      <a href="<%= new_phone_path %>" class="col-md-12 btn btn-default">Add new phone</a>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Your freind's phones</h1>
    <h5> These phones will be called when you don't answer you phone calls (all the numbers will be called at the same time).</h5>
    <br>
    <div class="col-md-10">
      <ul id="sortable-numbers" class="list-group">
        <li class="list-group-item">1</li>
        <li class="list-group-item">2</li>
        <li class="list-group-item">3</li>
        <li class="list-group-item">4</li>
        <li class="list-group-item">5</li>
        <li class="list-group-item">6</li>
        <li class="list-group-item">7</li>
      </ul>
      <a href="<%= new_phone_path %>" class="col-md-12 btn btn-default">Add new phone</a>
    </div>
  </div>
</div>